# Copy to $HOME/.config/autostart/
[Desktop Entry]
Type=Application
Exec=/snap/bin/logmein-host.logmein-vnc
#Exec=/home/jkasza/Git/github-logmein-host/remctrl/scripts/logmein-vnc.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=LogMeIn VNC Server
Name=LogMeIn VNC Server
Comment[en_US]=
Comment=
X-GNOME-Autostart-Phase=Initialization
