# Description: Custom Service Unit file
# File: /lib/systemd/system/vnc-starter.service
[Unit]
Description="Vnc server for LogMeIn remote control"
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/snap/bin/logmein-host.logmein-vnc
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure
Restart-sec=2

[Install]
WantedBy=multi-user.target
