<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogMeIn Host</title>
    <script src="/static/bluebird.min.js"></script>
    <script src="/static/hterm_all.js"></script>
    <script src="/static/pytty.js"></script>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
        #terminal {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="terminal"></div>
</body>
</html>
